body {
	background-color: white;
	color: black;
	padding-top: 50px;
	font-size: 14px;
	line-height: 1.43;
	color:#333;
}

.navbar-default {
	background-color: #ffffff;
}

.container-fluid1 {
	padding-top: 250px;
	padding-bottom: 250px;
	background-color: teal

}
.container-fluid3 {
	padding-top: 100px;
	padding-bottom: 250px;
	background-color: maroon;
}
.container-fluid {
	padding-top: 80px;
	padding-bottom: 130px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;;
	margin-left: auto;
}
/*
#myid {
	font-size: 30px;
	font-family: 'Open Sans Condensed', sans-serif;
}
*/